<ul>
    <li><a href="?page=main">Main page</a></li>
    <li><a href="?page=quadratic">ax&sup2+bx+c</a></li>
    <li><a href="?page=third">Third</a></li>
    <li><a href="?page=settings">Settings</a></li>
</ul>

<div id="news">

    <p id="loggedInMessage">[[LOGIN]]</p>

    <form id="logoutForm" action="MN" method="post">
        <input type="hidden" name="logout" value="true">
        <input type="submit" value="Logout">
    </form>

    <p id = "news1"></p>
    <p id = "news2"></p>
</div>